<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>To-Do List Vue</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>
  <body>
    <div id="app">
      <h1>To-Do List Me</h1>

      <input v-model="tugasBaru" placeholder="Tambah tugas" />
      <button @click="tambahTugas">Tambah</button>

      <ul>
        <li
          v-for="(tugas, index) in daftarTugas"
          :key="index"
          class="tugas-item"
        >
          <div class="tugas-konten">
            <input type="checkbox" v-model="tugas.selesai" />
            <span :class="{ coret: tugas.selesai }">{{ tugas.nama }}</span>
            <small class="tanggal-tugas"></small>
          </div>
          <button
            @click="hapusTugas(index)"
            :disabled="!tugas.selesai"
            :class="{ 'btn-disable': !tugas.selesai }"
          >
            Hapus
          </button>
        </li>
      </ul>
    </div>

    <script src="app.js"></script>
  </body>
</html>
